/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .banner {
    height: 200px;
    width: 200px;
    .text {
      padding: 10px 0px;
    }
    .text h4 {
      font-size: 15px;
    }
    .text i {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* sidemenu */
  .side-menu-container {
    width: 90% !important;
    .nav-side-right {
      .nav-side-right-item {
        ul {
          li {
            width: 70%;
          }
        }
        ul.list-image {
          padding: 70px 0 !important;
          li {
            background-color: rgb(230, 230, 230);
            width: 90%;
          }
          li:hover {
            background-color: white;
          }
        }
      }
    }
  }
  .side-menu-container-model {
    width: 90% !important;
    .nav-side-right {
      .header-model {
        height: fit-content;
        .btn-container {
          width: 90% !important;
          button {
            width: 100% !important;
            height: 50px;
            border: 2px solid black;
            transition: 0.1s;
          }
          button:hover {
            border: 2px solid gray;
            background-color: rgb(226, 226, 226);
          }
        }
      }
      .nav-side-right-item {
        ul.list-image {
          padding: 20px 0;
          li {
            background-color: rgb(230, 230, 230);
            width: 90%;
          }
          li:hover {
            background-color: white;
          }
        }
      }
    }
  }
  /* small banner */
  .small-banner-container {
    .small-banner {
      width: 70%;
    }
  }
  .findDealer a {
    font-size: 16px;
  }
  .fa-square-instagram {
    font-size: 40px;
  }
  .upper {
    height: 200px;
  }
  .lower {
    height: 100px;
  }
  .invisible-text p {
    font-size: 12px;
  }
  #socialmedia {
    font-family: monospace;
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 50px;
  }
  .banner {
    height: 200px;
    width: 200px;
    .text {
      padding: 10px 0px;
    }
    .text h4 {
      font-size: 15px;
    }
    .text i {
      font-size: 12px;
      padding-bottom: 5px;
    }
  }
  .slider-container {
    margin-inline: 50px !important;
    width: 2700px;
  }
  #link-md-show {
    display: block;
  }
  #link-md-hidden {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 767.98px) {
  .side-menu-container {
    width: 100% !important;
    .nav-side-left {
      width: 100%;
      position: absolute;
      button {
        top: 15px;
        right: 10px;
        i {
          color: black !important;
        }
      }
      ul {
        li.active-sidemenu-left {
          background-color: transparent;
        }
      }
    }
    .nav-side-right {
      width: 100% !important;
      position: absolute;
      background-color: white;
      padding: 20px;
      transition: all 0.5s linear !important;
      z-index: 1;
      .nav-side-right-item {
        ul.list-image {
          padding: 20px 0;
          li {
            background-color: white;
            width: 70%;
          }
          li:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
        ul.list-menu {
          padding: 20px 0;
          li {
            background-color: white;
          }
          li:hover {
            background-color: rgb(230, 230, 230);
          }
        }
        ul .btn-porsche button {
          width: 50%;
        }
      }
    }
    .nav-side-right.active-sidemenu-right {
      transform: translateX(-100%);
    }
  }
  .side-menu-container-model {
    width: 100% !important;
    .nav-side-left {
      width: 100%;
      position: absolute;
      button {
        top: 15px;
        right: 10px;
        i {
          color: black !important;
        }
      }
      ul {
        li.active-sidemenu-left {
          background-color: transparent;
        }
      }
    }
    .nav-side-right {
      width: 100%;
      position: absolute;
      background-color: white;
      padding: 20px;
      transition: all 0.5s linear !important;
      z-index: 1;
      .header-model {
        height: fit-content;
        .btn-container {
          width: 70% !important;
          button {
            width: 100% !important;
            height: 50px;
            border: 2px solid black;
            transition: 0.1s;
          }
          button:hover {
            border: 2px solid gray;
            background-color: rgb(226, 226, 226);
          }
        }
      }
      .nav-side-right-item {
        ul.list-image {
          padding: 20px 0;
          li {
            background-color: white;
            width: 70%;
          }
          li:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }
      }
    }
    .nav-side-right.active-sidemenu-right {
      transform: translateX(-100%);
    }
  }
  .feature-container {
    .feature-content {
      .navbar {
        height: 15%;
      }
      .content {
        height: 85%;
        .des {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-inline: 10px;
          bottom: 90px;
          left: 0;
          h1 {
            text-align: center;
            font-size: 50px;
          }
        }
        .sound,
        .pause {
          width: 35px;
          height: 35px;
          font-size: 18px;
        }
        .sound {
          right: 60px;
        }
      }
    }
  }
  .small-banner-container {
    .small-banner {
      width: 70%;
    }
  }

  .findDealer {
    a {
      font-size: 12px;
      padding: 5px;
    }
  }
  .fa-square-instagram {
    font-size: 30px;
  }
  .upper {
    height: 150px;
  }
  .lower {
    height: 75px;
  }
  .third {
    display: none;
  }
  .invisible-text p {
    font-size: 10px;
  }
  #socialmedia {
    font-family: monospace;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
  }
  .banner {
    height: 270px !important;
  }
  #onlineshop {
    font-size: 20px;
    margin-top: 40px;
  }
  .slider-container {
    margin-inline: 10px 0 !important;
    width: 2600px;
  }
  #link-md-show {
    display: none;
  }
  .slider-btn .btn {
    display: none;
  }
  .banner {
    height: 14rem;
    .text h4 {
      font-size: 16px;
    }
    .text i {
      font-size: 14px;
      padding-bottom: 5px;
    }
    img {
      height: inherit;
      object-fit: cover;
    }
  }
}

/*Extra small devices (portrait phones, less than 576px)*/
/* @media (max-width: 575.98px) {
} */
