@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Noto sans";
  box-sizing: border-box !important;
}
::-webkit-scrollbar {
  display: none;
}
button {
  font-family: "Poppins" !important;
  cursor: pointer !important;
}
li {
  cursor: pointer !important;
}
/* feature part */
.feature-container .feature-content {
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
/* navbar contains navbar and sidemenu */
.feature-container .feature-content .navbar {
  height: 10%;
}
.feature-container .feature-content .navbar .container-fluid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: fit-content;
}
.feature-container .feature-content .navbar .container-fluid .navbar-toggler {
  border: none;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .navbar-toggler:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.feature-container .feature-content .navbar .container-fluid .navbar-logo {
  width: 250px;
  height: 60px;
}
/* sidmenu container */
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container {
  width: 80%;
  height: 100vh;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left {
  width: 50%;
  z-index: 1;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  button {
  width: 50px;
  height: 50px;
  right: -60px;
  top: 10px;
  font-size: 18px;
  background-color: transparent;
  transition: 0.2s ease;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  button:hover {
  background-color: rgba(207, 207, 207, 0.1);
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  button
  i {
  color: white;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  ul {
  list-style: none;
  padding: 70px 0;
  height: 100%;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  ul
  li {
  width: 100%;
  height: 70px;
  font-size: 20px;
  font-weight: 500;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  ul
  li.active-sidemenu-left {
  background-color: rgba(0, 0, 0, 0.2);
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  ul
  li:hover,
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-left
  ul
  li.active-sidemenu-left:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
/* sidemenu right */
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right {
  background-color: rgb(230, 230, 230);
  transform: translateX(-100%);
  right: 0;
  width: 50%;
  transition: transform 0.5s ease;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right.active-sidemenu-right {
  transform: translateX(0%);
}
/* sidemenu image */
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-image {
  padding: 70px 0;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul {
  height: fit-content;
  list-style: none;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-image
  li {
  width: 60%;
  height: 200px;
  background-color: rgb(230, 230, 230);
  border-radius: 10px;
  transition: 0.3s ease;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-image
  li:hover {
  background-color: white;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-image
  li
  img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.3s ease;
  padding-inline: 20px;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-image
  li:hover
  img {
  transform: translateX(20px);
}
/* sidemenu list menu text */
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-menu {
  padding: 70px 0;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-menu
  li {
  width: 90%;
  height: 70px;
  background-color: rgb(230, 230, 230);
  border-radius: 5px;
  transition: 0.3s ease;
  font-size: 20px;
}
.feature-container
  .feature-content
  .navbar
  .container-fluid
  .side-menu-container
  .nav-side-right
  .nav-side-right-item
  ul.list-menu
  li:hover {
  background-color: white;
}

/* title btn video */
.feature-container .feature-content .content {
  width: 100%;
  height: 90%;
  position: relative;
  cursor: pointer;
}
.feature-container .feature-content .content .des {
  width: 400px;
  height: fit-content;
  bottom: 150px;
  left: 50px;
  position: absolute;
}
.feature-container .feature-content .content .des h1 {
  color: white;
  font-size: 70px;
}
.feature-container .feature-content .content .des button {
  width: 100%;
  height: 50px;
  border: 2.5px solid white;
  border-radius: 5px;
  font-size: 18px;
  color: white;
  background-color: transparent;
  transition: 0.2s ease;
}

.feature-container .feature-content .content .pause:hover,
.feature-container .feature-content .content .sound:hover,
.feature-container .feature-content .content .des button:hover {
  background-color: rgba(207, 207, 207, 0.378);
  border: 2.5px solid rgb(207, 207, 207);
}
.feature-container .feature-content .content .pause,
.feature-container .feature-content .content .sound {
  width: 50px;
  height: 50px;
  border: 2.5px solid white;
  position: absolute;
  border-radius: 5px;
  right: 10px;
  bottom: 10px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
.feature-container .feature-content .content .sound {
  right: 80px;
}

.small-banner-container {
  margin-top: 80px;
}
.small-banner-container .small-banner {
  width: 100%;
  height: fit-content;
}
.small-banner-container .small-banner .small-banner-item {
  cursor: pointer;
}
.small-banner-container .small-banner .small-banner-item .small-banner-des {
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.small-banner-container
  .small-banner
  .small-banner-item:hover
  .small-banner-des {
  background-color: rgba(0, 0, 0, 0.3);
}
.small-banner-container
  .small-banner
  .small-banner-item
  .small-banner-des
  .small-banner-title {
  font-size: 15px;
}
.small-banner-container .small-banner .small-banner-item img {
  transition: 0.3s ease-in-out;
  z-index: 0;
  border-radius: 20px;
}
