@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

h2{
    font-size: 50px;
    background-image: url('/assets/flam.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: text;
    backdrop-filter: 10px;
    color: transparent;
}
.card {
    border: none;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.card:hover .image{
  transform: scale(1.05);
}

.image-overlay {
    position: relative;
}


.image {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
    transition: all 0.5s;
}

.overlay-number{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 20%;
    height: 5%;
    font-weight: bold;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
    filter: invert(1);
}
.overlay-title{
    position: absolute;
    top: 20px;
    left: 15px;
    width: 50%;
    height: 5%;
    font-weight: bold;
    filter: invert(1);
}

.overlay-badge {
    position: absolute;
    top: 80px;
    left: 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.card-body {
    position: absolute;
    bottom: 0px;
    width: 100%;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

.price {
    font-size: 1.25rem;
    color: #e0e0e0;
}

.btn-light {
    width: 100%;
    margin-bottom: 0.5rem;
}

.btn-outline-dark {
    width: 100%;
    color: white;
    border-color: white;
    transition: all 0.5s ease-in-out;
    
}

.btn-outline-dark:hover {
    color:white;
    background-color: rgba(163, 160, 160, 0.8);
}
@media  (min-width: 768px) and (max-width: 992px) {
    .card .card-body .card-text{
        font-size: 20px !important;
    }
}
@media  (min-width: 380px) and (max-width: 576px){
    .card .card-body .card-text, .price,.btn{
        font-size: 15px !important;
    }
    .overlay-badge{
        position: absolute;
        top: 50px;
    }
}

.bg-dark{
    width: 30% !important;
}
.container-banner{
    width: 100% !important;
     display: flex !important;
     justify-content: center !important;
     align-items: center !important;
     /* background-color: red; */
}
.img{
    width: 50%;
    height: 360px;
    background-color: rgb(27, 106, 203);
    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}
.container-banner .des{
    width: 45%;
    height: 360px;
    background-color: black;
    padding: 50px;
    border-radius: 10px 0px 0px 10px;
    color: white;
    font-size:15px ;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media  (max-width: 1120px) {
    .container-banner{
        width: 100% !important;
        display: block !important;
        justify-content: center !important;
        padding: 10px 30px;
    }
    .container-banner .des{
        width: 100%;
        height: 360px;
        background-color: black;
        padding: 50px;
        border-radius: 10px;
        color: white;
        font-size:15px ;
    }
    .img{
        width: 100%;
        height: 500px;
        background-color: rgb(27, 106, 203);
        border-radius:10px;
        overflow: hidden;
        margin-top: 10px;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
}
@media(max-width: 576px){
    .container-banner .des{
        width: 100%;
        height: 300px;
        background-color: black;
        padding: 50px;
        border-radius: 10px;
        color: white;
        font-size:15px ;
    }
    .container-banner .des h2{
        font-size: 20px !important;
    }
    .container-banner .des p{
        font-size: 12px !important;
    }
    .img{
        width: 100%;
        height: 300px;
        background-color: rgb(27, 106, 203);
        border-radius:10px;
        overflow: hidden;
        margin-top: 10px;
    }
    .img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.container-search{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    /* background-color: darkblue; */
}
.container-search .search-form h3{
    font-size: 30px !important;
}
.container-search .search-form{
    margin-left: 40px !important;
}
.container-search .search-form .search-box{
    
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 5px;
    /* background-color: red; */
    border: 2px solid black !important;
}
.container-search .search-form .search-box i{
    font-size: 20px;
    margin-right: 15px;
}
.container-search .search-form .search-box input{
    border: none !important;
    outline: none !important;
    padding: 10px;
    border-radius: 10px;
    outline: 1px solid black;
    margin-right: 20px;
    font-size: 15px;
}
.search-form{
    width: 70%;
    height: 100%;
    justify-content: center;
    /* background-color: rebeccapurple; */
    padding-left: 150px;
    margin-top: 20px;
    align-items: center;
}

.car{
    width: 30%;
    height: 360px;
    background-color: rgb(213, 195, 30);
}
.search-form h2{
    font-size: 40px;
}
.search-form .btn{
    border: 1px solid black !important;
}
.container-search .car{
    width: 100%;
    height: 100%;
    background-color: dodgerblue;
}
.container-search .car img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media  (max-width: 1120px) {
    .container-search {
        display: block;
        
    }
    .search-form{
        width: 70%;
        height: 100%;

        margin-top: 20px;
        align-items: center;
    }
    .container-search .search-form .search-box{
    
        width: 100%;
        height: 100%;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 5px;
        /* background-color: red; */
        border: 2px solid black !important;
    }
}