@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Noto sans";
  box-sizing: border-box !important;
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
button {
  font-family: "Poppins" !important;
  cursor: pointer !important;
  font-weight: 500 !important;
}
li {
  cursor: pointer !important;
}
a {
  color: initial;
  text-decoration: none;
  z-index: 1;
}
h1 {
  font-weight: 500;
}

/* sidemenu container */
.side-menu-container {
  width: 80% !important;
  height: 100vh;
  /* sidemenu left */
  .nav-side-left {
    width: 50%;
    z-index: 1;
    button {
      width: 50px;
      height: 50px;
      right: -60px;
      top: 10px;
      font-size: 18px;
      background-color: transparent;
      transition: 0.2s ease;
    }
    button:hover {
      background-color: rgba(207, 207, 207, 0.1);
    }
    i.fa-x {
      color: white;
    }
    ul {
      padding: 70px 0;
      li {
        width: 100%;
        height: 70px;
        font-size: 20px;
        font-weight: 500;
      }
      li.active-sidemenu-left {
        background-color: rgba(0, 0, 0, 0.2);
      }
      li:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
  /* sidemenu right */
  .nav-side-right {
    background-color: rgb(230, 230, 230);
    transform: translateX(-100%);
    right: 0;
    width: 50%;
    transition: transform 0.5s ease;
    .nav-side-right-item {
      /* default sidemenu */
      ul {
        height: fit-content;
        list-style: none;
        li:last-child {
          margin-bottom: 50px;
        }
      }
      /* sidemenu image */
      ul.list-image {
        padding: 70px 0;
        li {
          width: 70%;
          height: 200px;
          background-color: rgb(230, 230, 230);
          border-radius: 10px;
          transition: 0.3s ease;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.3s ease;
            padding-inline: 20px;
          }
        }
        li:hover {
          background-color: white;
          img {
            transform: translateX(20px);
          }
        }
      }
      /* sidemnu list menu */
      ul.list-menu {
        padding: 70px 0;
        li {
          width: 90%;
          height: 70px;
          background-color: rgb(230, 230, 230);
          border-radius: 5px;
          transition: 0.3s ease;
          font-size: 20px;
        }
        li:hover {
          background-color: white;
        }
      }
      /* sidemenu input */
      .input-form {
        padding: 70px 0;
        width: 90%;
        height: fit-content;
        .input {
          height: 50px;
          input {
            padding-inline: 10px 50px;
            outline: none;
            border: 2px solid gray;
            transition: 0.2s;
          }
          input:hover,
          input:focus {
            border: 2px solid black;
          }
        }
        button {
          height: 50px;
          border: 2px solid black;
          transition: 0.1s;
          color: black !important;
        }
        button:hover {
          border: 2px solid gray;
          background-color: rgb(226, 226, 226);
        }
      }
      /* sidemenu my porsche btn */
      ul {
        .btn-porsche {
          button {
            width: fit-content;
            padding-inline: 20px;
            border: none;
            height: 100%;
            font-weight: 500;
          }
          button.login {
            background-color: black;
            transition: 0.2s;
          }
          button.login:hover {
            background-color: rgb(70, 70, 70);
          }
          button.discover {
            background-color: transparent;
            border: 2px solid black;
            transition: 0.2s;
          }
          button.discover:hover {
            background-color: rgb(211, 211, 211);
          }
        }
      }
    }
  }
  /* auto sidemenu show model  */
  .nav-side-right.active-sidemenu-right {
    transform: translateX(0%);
  }
}

/* sidemenu model container */
.side-menu-container-model {
  width: 80% !important;
  height: 100vh;
  /* sidemenu left */
  .nav-side-left {
    width: 50%;
    z-index: 1;
    button {
      width: 50px;
      height: 50px;
      right: -60px;
      top: 10px;
      font-size: 18px;
      background-color: transparent;
      transition: 0.2s ease;
    }
    button:hover {
      background-color: rgba(207, 207, 207, 0.1);
    }
    i.fa-x {
      color: white;
    }
    ul {
      padding: 40px 0;
      li {
        width: 100%;
        height: 80px;
        font-size: 20px;
        font-weight: 500;
      }
      li.btn-arrow {
        width: fit-content;
        padding-right: 10px;
      }
      li.btn-arrow:hover {
        background-color: rgba(0, 0, 0, 0.1) !important;
      }
      li.active-sidemenu-left {
        background-color: rgba(0, 0, 0, 0.2);
      }
      li:hover {
        background-color: rgba(0, 0, 0, 0.2) !important;
      }
    }
  }
  /* sidemenu right */
  .nav-side-right {
    background-color: rgb(230, 230, 230);
    transform: translateX(-100%);
    right: 0;
    width: 50%;
    transition: transform 0.5s ease;
    .header-model {
      height: fit-content;
      margin-top: 40px;
      .img {
        width: 30%;
        margin-bottom: 20px;
        height: auto;
      }
      .img.letter {
        width: 50%;
      }
      .btn-container {
        width: 70%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 10px;
        button {
          height: 50px;
          border: 2px solid black;
          transition: 0.1s;
          color: black !important;
        }
        button:hover {
          border: 2px solid gray;
          background-color: rgb(226, 226, 226);
        }
      }
    }
    .nav-side-right-item {
      /* default sidemenu */
      ul {
        height: fit-content;
        list-style: none;
        li:last-child {
          margin-bottom: 50px;
        }
      }
      /* sidemenu image */
      ul.list-image {
        padding: 20px 0;
        li {
          width: 70%;
          height: 250px;
          background-color: rgb(230, 230, 230);
          border-radius: 10px;
          transition: 0.3s ease;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transition: 0.3s ease;
            padding-inline: 20px;
          }
        }
        li:hover {
          background-color: white;
          img {
            transform: translateX(20px);
          }
        }
      }
    }
  }
}

/* feature part and navbar navside */
.feature-container {
  /* feature title and video */
  .feature-content {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    /* navbar contains navbar and sidemenu */
    .navbar {
      height: 10%;
      .container-fluid {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: fit-content;
        .navbar-toggler {
          border: none;
        }
        .navbar-toggler:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        .navbar-logo {
          width: 250px;
          height: 60px;
        }
      }
    }
    /* title btn video */
    .content {
      width: 100%;
      height: 90%;
      position: relative;
      cursor: pointer;
      .des {
        width: 400px;
        height: fit-content;
        bottom: 150px;
        left: 50px;
        position: absolute;
        h1 {
          color: white;
          font-size: 70px;
        }
        button {
          width: 100%;
          height: 50px;
          border: 2.5px solid white;
          border-radius: 5px;
          font-size: 18px;
          color: white;
          background-color: transparent;
          transition: 0.2s ease;
        }
        button:hover {
          background-color: rgba(207, 207, 207, 0.378);
          border: 2.5px solid rgb(207, 207, 207);
        }
      }
      .pause,
      .sound {
        width: 50px;
        height: 50px;
        border: 2.5px solid white;
        position: absolute;
        border-radius: 5px;
        right: 10px;
        bottom: 10px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
      }
      .sound {
        right: 80px;
      }
      .pause:hover,
      .sound:hover {
        background-color: rgba(207, 207, 207, 0.378);
        border: 2.5px solid rgb(207, 207, 207);
      }
    }
  }
}

/* small banner*/
.small-banner-container {
  margin-top: 80px;
  .small-banner {
    width: 100%;
    height: fit-content;
    .small-banner-item {
      cursor: pointer;
      overflow: hidden;
      border-radius: 20px;
      .small-banner-des {
        width: 100%;
        padding: 5px;
        background-image: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.5),
          transparent
        );
        z-index: 1;
        transition: 0.3s ease-in-out;
        .small-banner-title {
          font-size: 15px;
        }
      }
      img {
        transition: 0.3s ease-in-out;
        z-index: 0;
        border-radius: 20px;
      }
    }
    .small-banner-item:hover {
      img {
        transform: scale(1.05);
      }
    }
  }
}

/* Nin */
.upper {
  position: relative;
  height: 300px;
  i {
    position: absolute;
    bottom: 0;
    right: 1%;
    color: white;
    z-index: 2;
  }
  i:hover {
    color: rgba(237, 32, 10, 0.992);
  }
}

/* Socialfeature */
.invisible-text {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
  z-index: 1;
}
#big-pic:hover {
  .invisible-text {
    opacity: 1;
  }
}
.lower {
  position: relative;
  height: 150px;
  i {
    position: absolute;
    bottom: 0;
    right: 1%;
    color: white;
  }
  i:hover {
    color: rgba(237, 32, 10, 0.992);
  }
}
.lower img {
  height: 100%;
}
.findDealer:hover {
  background: rgb(43, 42, 42);
}

/* slider btn */
.slider-btn {
  width: 80%;
}

.slider {
  cursor: grab;
  .slider-container {
    width: 2800px;
    margin-inline: 200px 150px;
    .slider-item {
      width: 330px;
      background-color: rgba(245, 245, 245, 0.544);
      height: fit-content;
      border-radius: 20px;
      cursor: grab;
      a {
        cursor: grab;
      }
      a:active {
        cursor: grabbing;
      }
      img {
        transition: linear 0.2s;
      }
      .detail {
        padding: 30px 20px;
        p {
          font-family: "Noto Sans";
          font-size: 15px;
        }
        a {
          font-family: "Poppins", serif;
        }
        a:hover {
          background-color: rgba(128, 128, 128, 0.485);
        }
      }
    }
    .slider-item:hover {
      background-color: rgba(106, 104, 104, 0.1);
      img {
        transform: scale(1.05);
      }
    }
  }
}
.slider:active {
  cursor: grabbing;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: grey;
  cursor: pointer;
  transition: 0.2s;
}
.dot.active {
  width: 25px;
  background-color: black;
  border-radius: 10px;
}
/* footer */
.links a {
  color: white;
  text-decoration: underline;
}
.findDealer a {
  font-size: 20px;
}
.fa-square-instagram {
  font-size: 50px;
}
#link-md-show {
  display: none;
}
